obj/
bin/ 
.vs
packages/Newtonsoft.Json.12.0.3/.signature.p7s
packages/Newtonsoft.Json.12.0.3/LICENSE.md
packages/Newtonsoft.Json.12.0.3/Newtonsoft.Json.12.0.3.nupkg
packages/Newtonsoft.Json.12.0.3/packageIcon.png
packages/Newtonsoft.Json.12.0.3/lib/net20/Newtonsoft.Json.dll
packages/Newtonsoft.Json.12.0.3/lib/net20/Newtonsoft.Json.xml
packages/Newtonsoft.Json.12.0.3/lib/net35/Newtonsoft.Json.dll
packages/Newtonsoft.Json.12.0.3/lib/net35/Newtonsoft.Json.xml
packages/Newtonsoft.Json.12.0.3/lib/net40/Newtonsoft.Json.dll
packages/Newtonsoft.Json.12.0.3/lib/net40/Newtonsoft.Json.xml
packages/Newtonsoft.Json.12.0.3/lib/net45/Newtonsoft.Json.dll
packages/Newtonsoft.Json.12.0.3/lib/net45/Newtonsoft.Json.xml
packages/Newtonsoft.Json.12.0.3/lib/netstandard1.0/Newtonsoft.Json.dll
packages/Newtonsoft.Json.12.0.3/lib/netstandard1.0/Newtonsoft.Json.xml
packages/Newtonsoft.Json.12.0.3/lib/netstandard1.3/Newtonsoft.Json.dll
packages/Newtonsoft.Json.12.0.3/lib/netstandard1.3/Newtonsoft.Json.xml
packages/Newtonsoft.Json.12.0.3/lib/netstandard2.0/Newtonsoft.Json.dll
packages/Newtonsoft.Json.12.0.3/lib/netstandard2.0/Newtonsoft.Json.xml
packages/Newtonsoft.Json.12.0.3/lib/portable-net40+sl5+win8+wp8+wpa81/Newtonsoft.Json.dll
packages/Newtonsoft.Json.12.0.3/lib/portable-net40+sl5+win8+wp8+wpa81/Newtonsoft.Json.xml
packages/Newtonsoft.Json.12.0.3/lib/portable-net45+win8+wp8+wpa81/Newtonsoft.Json.dll
packages/Newtonsoft.Json.12.0.3/lib/portable-net45+win8+wp8+wpa81/Newtonsoft.Json.xml
норд/
packages/
/DocManager.Db/DocManager.Db.dbmdl
/DocManager.Db/DocManager.Db.jfm
